@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* shared-style-start */
body{
    font-family: "Roboto", sans-serif;
}
.container{
    max-width: 1060px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    list-style-type: none;
}
:root{
    --praimary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternery:#898989;
    --light:#F2F2F2;
}
.main-hedar{
    background-color: var(--dark);
    padding: 40px 0;
}
.sub-btn{
    display: none;
}
.sub-btn button{
    padding: 12px 40px;
    background-color: var(--praimary);
    border: none;
    border-radius: 5px;
}
.sub-btn button a{
    font-size: 18px;
    color: var(--dark);
    font-weight: bold;
}
/* shared-style-end */
/* website-style-start */

/* hedar-section-start */
.main-containt-felx{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.log-flex{
    display: flex;
    align-items: center;
}
.logo{
    margin-right: 60px;
}
 .color a {
    font-size:28px;
    font-weight: bold;
    transition: .3s;
}
.color a .short{
    color: rgb(229, 54, 24);
    transition: .3s;
}
.color .short:hover{
    color: var(--praimary);
}

.color a .full{
    color: paleturquoise;
}
.manu-bar ul{
    display: flex;
}
.manu-bar ul li {
    margin-right: 30px;
}
.manu-bar ul li a{
    font-size: 24px;
    color: var(--pure);
    transition: .3s;
}
.manu-bar ul li a:hover{
    color: var(--praimary);
}
.containt-button .btn-1{
    padding: 15px 70px;
    background-color: var(--praimary);
    border: none;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
    position: relative;
}
.togole-bar i{
    color: var(--praimary);
    font-size: 40px;
    position: absolute;
    margin-top: -50px;
    margin-left: 200px;
}
.togole-bar{
    display: none;
}

.containt-button .btn-1:hover{
    background-color: var(--dark);
    border: 2px solid var(--praimary);
}
.containt-button .btn-1 a{
    color: var(--dark);
    font-size: 28px;
    font-weight: bold;

}
.containt-button .btn-1 a:hover{
    color: var(--pure);
}

/* hedar-section-end */

/* website-style-end */
/* responsive-style-start */
/* tablet-resposive */
@media screen  and (min-width:577px) and (max-width:996px){
    .container{
        max-width: 685px;
        margin: 0 auto;
    }
    .logo a {
        font-size:16px;
        font-weight: bold;
    }
    .logo{
        margin-right:20px;
    }
    .manu-bar ul li {
        margin-right: 20px;
    }
    .containt-button .btn-1{
        padding: 10px 30px;
        background-color: var(--praimary);
        border: none;
        border-radius: 5px;
        transition: .3s;
        cursor: pointer;
    }
    

}
/* tablet-responsive */
/* mobile-responsive */
@media screen  and (max-width:576px){
    .container{
        max-width: 350px;
        margin: 0 auto;
    }
    
    .manu-bar ul{
        display: none;
    }
    .containt-button .btn-1{
        padding: 10px 40px;
    }
    .logo{
        margin-right:15px;
    }
    .logo a {
        font-size:18px;
        font-weight: bold;
    }
    .containt-button .btn-1{
        display: none;
    }
    .sub-btn{
        display: block;
    }
    .togole-bar{
        display: block;
    }
    .togole-bar i{
        color: var(--praimary);
        font-size: 40px;
        position: absolute;
        margin-top: -20px;
        margin-left: -30px;
    }
    
}

/* mobile-responsive */
/* responsive-style-end */